Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/InfinityBladeGrassLands/
Distribution/
Content/StylizedDesertEnv/
Content/ProtoCharacters/
Content/Cinematics/
Content/Violin/
